<!--
<style>
.scroll-content {
    background: url(../img/nyc.jpg) ;
 }
</style>
-->
<ion-view title="Postavke" >

  <ion-content class="padding" ng-controller="DashCtrl">
   </br> 
  <!-- if ng-model="localEmail" exists don't show the below form
  <div class="light" ng-if="localEmail">Prijavljeni ste kao <strong>{{localEmail}}</strong> </br>Nema potrebe za izmjenama.</div></br>
  <div class="assertive" ng-if="!localEmail">Niste prijavljeni! Ako ste prvi put ovdje Registrirajte se. </br>Ako ste to vec napravili, prijavite se s Vasim emailom. </div></br>
  -->
  <div class="card ">
	<div class="item item-text-wrap">
		<div class="dark" ng-if="localEmail">Prijavljeni ste kao <strong>{{localEmail}}</strong>. Nema potrebe za izmjenama.</div>
		<div class="assertive" ng-if="!localEmail">Niste prijavljeni!</br> Ako ste prvi put ovdje Registrirajte se.</br> Ako ste to vec napravili, prijavite se s Vasim emailom. </div>
	</div>
  </div>
  </br>
     
	<div class="list">
		<div ng-show="login_error.message" class="assertive">
			<p><strong>{{login_error.message}}</strong></p>
		</div>

	<label class="item item-input" ng-class="{positive: login_error.errors.email}">
		<input type="text" ng-model="login_user.email" placeholder="Email" value="{{localEmail}}">		
		<div ng-show="login_error.errors.email">
		<div ng-repeat="field_error in login_error.errors.email">{{field_error}}</div>
		</div>
	</label>

	<label class="item item-input" ng-class="{positive: login_error.errors.password}">
		<input type="password" ng-model="login_user.password" placeholder="Password">
		<div ng-show="login_error.errors.password">
		<div ng-repeat="field_error in login_error.errors.password">{{field_error}}</div>
		</div>
	</label>
	</div>
	
	</br>
	<!-- if there exists window.localStorage['id'] then there is no need for signup (registriraj)-->

	<button class="button  button-block button-positive "  ng-click="login()">
		Logiraj
	</button>
	<!-- if there is no window.localStorage['id'] then we need to signup or logIn-->
	<button class="button  button-block button-assertive "  ng-click="signUp()">
		Registriraj
	</button>

  </ion-content>
</ion-view>
